* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.white {
  color: white;
}
.logo-box {
  border-radius: 80%;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.bg-black {
  background-color: black;
}
.container {
  width: 100%;
  border-top: 4px solid #d6bbd3;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 150px;
}
.menu {
  width: 100%;
  display: flex;
  color: plum;
}
.menu-item {
  padding: 20px 15px;
  font-size: 25px;
}
.menu-item:hover {
  background-color: white;
  cursor: pointer;
}
bi bi-cart2 {
  color: plum;
}
ul li {
  text-decoration: none;
}
.row {
  display: flex;
  flex-direction: row;
}

.row-wrap {
  flex-wrap: wrap;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}

.offset-1 {
  margin-left: 20px;
}

.offset-2 {
  margin-left: 16.666667%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.d-flex {
  display: flex;
}

.j-center {
  justify-content: center;
}
.f-wrap {
  flex-wrap: wrap;
}
.j-end {
  justify-content: flex-end;
}
.j-ev {
  justify-content: space-evenly;
}
.j-between {
  justify-content: space-between;
}
.j-ar {
  justify-content: space-around;
}
.f-column {
  flex-direction: column;
}
.a-start {
  align-items: flex-start;
}

.a-center {
  align-items: center;
}

.a-end {
  align-items: flex-end;
}

.a-baseline {
  align-items: baseline;
}

.flex-wrap {
  flex-wrap: wrap;
}

.mb-20 {
  margin-bottom: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}

.pd-30 {
  padding: 30px;
}
.nav {
  display: flex;
  padding: 20px 20px;
  color: purple;
  justify-content: space-between;
}
.bg-top {
  background-color: #c9adc6;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 56%;
}
.bg-bottom {
  background-color: #d6bbd3;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 44%;
}
.pro-img {
  position: relative;
  width: 100%;
  max-width: 1265px;
  padding-left: 15px;
  padding-right: 15px;
}
.wrapper {
  position: relative;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 72px;
  padding-bottom: 72px;
  justify-content: space-between;
}
.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.text-box {
  position: absolute;
  top: 10px;
  right: 7rem;
  bottom: 0px;
  z-index: 10;
  width: 40%;
  height: 400px;
  max-width: 440px;
  margin-top: 110px;
  padding-right: 40px;
  padding-left: 50px;
  justify-content: flex-start;
  background-color: #b08ead;
}
.mini {
  margin-bottom: -10px;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 40px;
  padding-left: 0px;
}
.h1-white {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 40px;
  line-height: 4.5rem;
}

.buy {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: underline;
}
.buy:hover {
  color: white;
  cursor: pointer;
}
.center-box {
  width: 65%;
  max-width: 820px;
  margin-right: auto;
  margin-left: auto;
  font-family: Roboto, sans-serif;
  color: #b99bb6;
  padding: 30px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro {
  font-family: "Cormorant Garamond", sans-serif;
  color: #5f4d5d;
  font-size: 26px;
  line-height: 38px;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: none;
}
.btn-1 {
  height: 50px;
  align-items: center;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid #b99bb6;
  color: #b99bb6;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 700;
}
.btn-1:hover {
  background-color: #b99bb6;
  cursor: pointer;
  color: white;
}
.top-50 {
  margin-top: 50px;
}
.image #zoom img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.image #zoom:hover img {
  transform: scale(1.2);
}
.intro-1 {
  padding: 25px;
  background-color: #ceb3cb;
}
.flex-center {
  align-content: stretch;
  align-items: center;
  margin-right: 3%;
}
.profile {
  position: absolute;
  top: 5px;
  left: 10rem;
  bottom: 0px;
  z-index: 10;
  width: 40%;
  height: 400px;
  max-width: 440px;
  margin-top: 180px;
  padding-right: 40px;
  padding-left: 0px;
  justify-content: flex-end;
  background-color: #b08ead;
}
.mini-1 {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 40px;
  padding-left: 0px;
}
.mini-2 {
  margin-bottom: 10px;
  font-family: "Cormorant Garamond", sans-serif;
  color: white;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 20px;
  margin-right: 9rem;
  margin-top: 3.5rem;
}
.h2-white {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 30px;
  line-height: 3.5rem;
  margin-right: 100px;
}
.learn {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: underline;
  margin-right: 8rem;
}
.learn:hover {
  color: white;
  cursor: pointer;
}
.top-70 {
  margin-top: 7rem;
}
.stt {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 30px;
  line-height: 4.5rem;
  margin-left: -10px;
}
.mt-40 {
  margin-top: 40px;
}
#Images {
  width: 100%;
  padding: 75px 0;
}

.images-box > .d-flex:not(:last-child) {
  padding-bottom: 40px;
  border-bottom: 1px solid #d7b7d4;
}

.img-content {
  padding: 0 10%;
}

.img-title {
  margin-bottom: 10px;
  color: #b99bb6;
  font-size: 1.35rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  margin-left: 2rem;
}

.img-stt {
  margin-bottom: 10px;
  font-family: "Cormorant Garamond", sans-serif;
  color: #5f4d5d;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-left: 2rem;
}

.img-img {
  margin-right: 2.5rem;
  max-width: 80%;
  vertical-align: middle;
  display: inline-block;
  border: 17px solid #d6bbd3;
  cursor: pointer;
}
.img-img.img-square {
  max-width: 544px;
}
.ml-2 {
  margin-left: 2rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
#Contact {
  width: 100%;
  padding: 75px 0;
  background-color: #ceb3cb;
}
.images-box,
.products-box,
.contact-box,
.subscribe-box {
  position: relative;
  width: 100%;
  max-width: 1265px;
  padding-right: 25px;
  padding-left: 25px;
  margin-left: auto;
  margin-right: auto;
}
#Products {
  width: 100%;
  padding: 75px 0;
}

#Products .col-4 {
  padding-left: 3.5rem;
  padding-right: auto;
  justify-content: center;
  padding-bottom: 50px;
}

.product-img-link {
  display: block;
  max-width: 100%;
  overflow: hidden;
}

.product-img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.product-img:hover {
  transform: scale(1.05);
}

.product-title {
  color: #5f4d5d;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 2.4rem;
  line-height: 3rem;
  padding-right: 30px;
}

.product-price {
  color: #b0b0b0;
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  padding-right: 30px;
}
.contact-box {
  color: #fff;
}

.contact-info {
  width: 25%;
  margin-right: 5%;
  font-style: normal;
}
.info-detail-title {
  font-size: 1.35rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
}

.info-detail-link {
  display: inline-block;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 2.25rem;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  margin: 0;
  padding: 0;
}

.form-group {
  width: 51%;
  color: #fff;
}

.input-content {
  display: block;
  height: 50px;
  width: 100%;
  outline: none;
  color: #fff;
  padding: 8px 12px 8px 20px;
  font-size: 1.4rem;
  border: 1px solid #fff;
  background-color: transparent;
}

.input-content:focus {
  border-color: #3898ec;
  outline: 0;
}

.form-group .col-6:nth-child(odd) {
  padding-right: 15px;
}

.form-group .col-6:nth-child(even) {
  padding-left: 15px;
}

.txtMessage {
  resize: vertical;
  min-height: 100px;
}

.btn-submit {
  height: 50px;
  min-width: 210px;
  border: 1px solid #fff;
  background-color: transparent;
  transition: background-color 200ms ease, color 200ms ease;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #fff;
  color: #b99bb6;
}

#Contact ::placeholder {
  color: #fff;
  opacity: 1;
}

.btn-submit {
  height: 50px;
  min-width: 210px;
  border: 1px solid #fff;
  background-color: transparent;
  transition: background-color 200ms ease, color 200ms ease;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #fff;
  color: #b99bb6;
}

#Contact ::placeholder {
  color: #fff;
  opacity: 1;
}

.sub-title {
  margin-bottom: 10px;
  color: #b99bb6;
  font-size: 1.35rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
}

.sub-slogan {
  font-family: "Cormorant Garamond", sans-serif;
  color: #5f4d5d;
  font-size: 2.4rem;
}

.sub-form {
  width: 49%;
}

.sub-input {
  display: block;
  width: calc(100% / 3);
  height: 60px;
  outline: none;
  padding: 8px 12px 8px 21px;
  border: 1px solid #ceb3cb;
  margin-bottom: 10px;
  font-size: 1.6rem;
  color: #b99bb6;
  background-color: #ffffff;
}
.footer {
  width: 100%;
}

.top-footer {
  padding: 35px 0;
  background-color: #d6bbd3;
}

.top-footer-box,
.bottom-footer-box {
  width: 100%;
  max-width: 1265px;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
}

.top-footer-item {
  margin-left: auto;
  margin-right: auto;
}

.top-footer-item-img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background-color: #ba9fb7;

  background-position: 50% 50%;
  background-size: 35px;
  background-repeat: no-repeat;
}

.top-footer-box .col-4:nth-child(1) {
  margin-left: 80px;
}

.top-footer-box .col-4:nth-child(3) {
  margin-right: 80px;
}

.top-footer-box .col-4:nth-child(1) .top-footer-item-img {
  background-image: url(https://assets.website-files.com/5bd86c52b7abc5114b2ed43c/5bd8ebd4557fae86ba4aebb2_compras.svg);
}

.top-footer-box .col-4:nth-child(2) .top-footer-item-img {
  background-image: url(https://assets.website-files.com/5bd86c52b7abc5114b2ed43c/5bd8ebd4ef82dc17a92468cd_entrega.svg);
}

.top-footer-box .col-4:nth-child(3) .top-footer-item-img {
  background-image: url(https://assets.website-files.com/5bd86c52b7abc5114b2ed43c/5bd8ebd4380421b04e500298_como.svg);
}

.top-footer-item-title-1 {
  color: #fff;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  width: auto;
}

.top-footer-item-title-2 {
  color: #fff;
  font-size: 1.7rem;
}

.sub-input:first-child {
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.sub-input:focus {
  border-color: #3898ec;
}

.txtBtnSubmit {
  width: calc(100% / 3);
  height: 60px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #ceb3cb;
  border: none;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  cursor: pointer;
  text-transform: uppercase;
}

#Subscribe ::placeholder {
  color: #b99bb6;
  opacity: 1;
  font-style: italic;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 2rem;
}
